// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#info-text
{
    color:rgb(5,43,80);
    padding-left:20px;
    font-weight: bold;
}

#info-label
{
    color:rgb(39,39,39);
    width:200px
}

#info-image
{
    height:150px;
    width:150px;
}

#info-container
{
    margin-right:20px;
}
